@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
/* font-family: 'Potta One', cursive; */
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
/* font-family: 'VT323', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
/* font-family: 'Ubuntu', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
/* font-family: 'Amatic SC', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
/* font-family: 'Orbitron', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Chokokutai&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.loader-span {
  overflow: hidden;
  display: block;
}

.loader-wrap {
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.loader-wrap svg {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 110vh;
}

.loader-wrap svg > path {
  fill: #f7e7cf;
}

.loader-wrap .loader-wrap-heading h1 {
  font-size: 60px;
  z-index: 20;
  color: #000000;
  text-transform: uppercase;
  font-weight: lighter;
  font-family: "Ogg";
}

#osaka-body {
  /*overscroll-behavior: none;*/
  overflow-x: hidden;
  color: #f7e7cf;
  cursor: none;
}

header {
  position: fixed;
  padding: 25px 0;
  width: 100%;
  height: 100px;
  text-align: center;
  z-index: 2;
}
header .osakaTitle {
  font-family: "Amatic SC", sans-serif;
  text-transform: uppercase;
  font-size: 50px;
}

.letterPink {
  color: #de667e;
}

canvas {
  position: absolute;
  z-index: -2;
}

@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@-o-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
.hero {
  height: 100vh;
  min-height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero .main {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .main .ul {
  height: 35%;
  width: 60%;
  font-family: "Amatic SC", sans-serif;
  text-transform: uppercase;
  font-size: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2%;
  margin-top: 2.1%;
}
.hero .main .ul a {
  color: #f7e7cf;
  text-decoration: none;
  cursor: none;
}
.hero .main .ul a:hover {
  cursor: none;
}
.hero .main .ul .li {
  position: relative;
  cursor: pointer;
  transition: 1s;
}
.hero .main .ul .li:hover {
  opacity: 1 !important;
}
.hero .mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  position: relative;
  bottom: 4%;
}
.hero .m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}
.hero .unu {
  margin-top: 1px;
}
.hero .unu,
.hero .doi,
.hero .trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
}
.hero .unu {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  animation-delay: alternate;
}
.hero .doi {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;
  animation-delay: 0.2s;
  animation-direction: alternate;
  margin-top: -6px;
}
.hero .trei {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-direction: alternate;
  animation-delay: 0.3s;
  animation-direction: alternate;
  margin-top: -6px;
}
.hero .mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}
.hero .wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.hero .wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

.wrapper {
  width: 100vw;
}

#sliderOne {
  width: 100vw;
  height: 100vh;
}

.gallery {
  height: 100%;
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  /*width: 100%;*/
}

.gallery .item {
  margin-top: 2.5%;
  width: 713px;
  /*min-width: 25em;
  max-width: 47em;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  height: 65vh;
  position: relative;
}

.gallery h2 {
  font-family: "Amatic SC", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  width: 100px;
  padding: 1% 0;
  text-align: right;
}

.gallery img {
  width: 72%;
  min-width: 25em;
  max-width: 47em;
  height: 86%;
  object-fit: cover;
  opacity: 1;
}

#sliderTwo {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.galleryTwo {
  height: 100vh;
  width: 5000px;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 0.2%;
}

.galleryTwo .item {
  margin-top: 0.5%;
  height: 72vh;
  width: 51vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}

.galleryTwo h2 {
  font-family: "Amatic SC", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  width: 100px;
  padding: 1% 0;
  text-align: right;
}

.item3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.item3:hover img {
  transform: scale(1.3);
}

.galleryTwo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.7s;
  -webkit-background-size: cover;
  background-size: cover;
}

.canvas2 {
  z-index: -1;
  pointer-events: none;
}

#sliderThree {
  width: 100vw;
  height: 100vh;
}

.galleryThree {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.galleryThree .item img {
  display: none;
}

.galleryThree h2 {
  font-family: "Amatic SC", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
}

.project-image {
  opacity: 0%;
  position: absolute;
  top: -100%;
  pointer-events: none;
  user-select: none;
}

.modal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  z-index: 3;
  transition: 0.25s ease-out;
}
.modal .full-img {
  position: absolute;
  height: 82%;
  top: 5%;
  left: 22.5%;
  transform: scale(0);
  transition: all 0.25s ease-out;
}
.modal .full-img.open {
  transform: scale(1);
}
.modal p {
  font-size: 2rem;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}

footer {
  height: 120px;
}
footer .info {
  color: #f5f7fa;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cursor {
  pointer-events: none;
}
.cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 50;
}
.cursor__ball circle {
  fill: #f5f7fa;
}

/* Popup window when clicked */
.img-window {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.img-window img {
  max-height: 80%;
  max-width: 80vw;
  opacity: 1;
}

.img-window p {
  font-size: 1.5rem;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
}

/* Buttons image */
.img-btn-next {
  font-size: 25px;
  display: block;
  background-color: #111111;
  position: fixed;
  top: 48vh;
  z-index: 60;
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 50%;
  padding: 8px 15px;
}

.img-btn-next:hover {
  color: rgb(166, 181, 31);
  border: 1px solid rgb(166, 181, 31);
}

.img-btn-prev {
  font-size: 25px;
  display: block;
  background-color: #111111;
  position: fixed;
  top: 48vh;
  z-index: 60;
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 50%;
  padding: 8px 15px;
}

.img-btn-prev:hover {
  color: rgb(166, 181, 31);
  border: 1px solid rgb(166, 181, 31);
}

/* font-family: 'Chokokutai', cursive; */
/* font-family: 'Pacifico', cursive; */
::-webkit-scrollbar {
  width: 0.4em;
  height: 0;
  animation: barFadeIn 0.1s 1.1s forwards;
}

::-webkit-scrollbar-track {
  background: white;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: rgba(33, 46, 83, 0.768627451);
  border-radius: 100vw;
}

@keyframes barFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: #ad5389 white;
    scrollbar-width: auto;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.fullscreen .homeTitle {
  text-align: center;
  margin-top: 25px;
  /*font-family: 'mijuregular', serif, Arial, Helvetica, sans-serif;*/
  font-size: 56px;
  color: #212E53;
}
.fullscreen .homeNav {
  /*margin-left: 40px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);*/
  margin-top: 14%;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .fullscreen .homeNav {
    margin-top: 46%;
  }
}
@media screen and (max-width: 767px) {
  .fullscreen .homeNav {
    margin-top: 24%;
  }
}
.fullscreen .homeNav__ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .fullscreen .homeNav__ul {
    display: flex;
    flex-direction: column;
  }
}
.fullscreen .homeNav__ul li {
  margin-top: 20px;
  font-size: 50px;
  font-family: "Pacifico", cursive;
  letter-spacing: 5px;
}
@media screen and (max-width: 767px) {
  .fullscreen .homeNav__ul li {
    font-size: 36px;
  }
}
.fullscreen .homeNav__ul li a {
  text-decoration: none;
  color: #212E53;
  transition: 0.3s;
}
.fullscreen .homeNav__ul li a:hover {
  cursor: pointer;
  color: #fff;
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

.fullscreen .video-background {
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  filter: blur(7px);
}
@media (min-aspect-ratio: 16/9) {
  .fullscreen .video-background .video-background {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .fullscreen .video-background .video-background {
    width: auto;
    height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
