@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
/* font-family: 'Potta One', cursive; */
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
/* font-family: 'VT323', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Chokokutai&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@font-face {
  font-family: "mijuregular";
  src: url("/fonts/miju-webfont.woff2") format("woff2"), url("/fonts/miju-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.loader-span {
  overflow: hidden;
  display: block;
}

.loader-wrap {
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.loader-wrap svg {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 110vh;
}

.loader-wrap .loader-wrap-heading h1 {
  font-size: 60px;
  z-index: 20;
  color: #e0e0e0;
  text-transform: uppercase;
  font-weight: lighter;
  font-family: "Ogg";
}

#osaka-body {
  /*overscroll-behavior: none;*/
  overflow-x: hidden;
  /*cursor: none;*/
}

.hero > p {
  max-width: 650px;
  font-size: 1.1em;
  line-height: 34px;
}

.hero {
  height: 100vh;
  min-height: 30em;
  padding: 2.5em;
  color: #f5f7fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero h1 {
  font-size: 4em;
}
.hero .explore {
  position: absolute;
  top: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.hero .explore p {
  margin-bottom: 2%;
}
.hero .explore .line {
  margin-left: 80%;
  margin-bottom: 1%;
}
.hero .explore a {
  color: #f5f7fa;
  cursor: none;
}

.plusIcon {
  font-size: smaller;
}
.plusIcon:hover {
  cursor: none;
}
.plusIcon:hover::before {
  content: "\f063";
  color: #f5f7fa;
}

.wrapper {
  width: 100vw;
}

#sliderOne {
  width: 100vw;
  height: 100vh;
}

.gallery {
  height: 100%;
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  /*width: 100%;*/
}

.gallery .item {
  width: 800px;
  /*min-width: 25em;
  max-width: 47em;*/
  height: 83vh;
  position: relative;
}

.gallery h2 {
  color: #f5f7fa;
  font-family: "mijuregular", "Potta One", cursive;
  font-size: 21px;
  text-transform: uppercase;
  width: 100px;
  padding: 1% 0;
  margin-left: 77%;
}

.gallery img {
  width: 100%;
  min-width: 25em;
  max-width: 47em;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}

#sliderTwo {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.galleryTwo {
  height: 100vh;
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 0.2%;
  position: relative;
}

.galleryTwo .item {
  display: flex;
  margin-top: 0.4%;
  height: 100vh;
  padding: 1% 0;
}

.galleryTwo h2 {
  color: #f5f7fa;
  font-family: "mijuregular", "Potta One", cursive;
  text-transform: uppercase;
  position: relative;
  left: 75%;
  padding-top: 6%;
  width: 200px;
}

.galleryTwo img {
  width: 90vw;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}

canvas {
  z-index: 2;
  pointer-events: none;
}

#sliderThree {
  width: 100vw;
  height: 100vh;
}

.galleryThree {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.galleryThree h2 {
  color: #f5f7fa;
  font-family: "VT323", cursive;
  font-size: 36px;
  text-transform: uppercase;
}

.project-image {
  opacity: 0%;
  position: absolute;
  top: -100%;
  pointer-events: none;
  user-select: none;
}

header {
  position: fixed;
  margin: 20px 0;
  width: 100%;
  height: 22px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
  column-gap: 50px;
  z-index: 1;
}
header .osakaTitle {
  font-family: "mijuregular", "Potta One", cursive;
  text-transform: uppercase;
  color: #f5f7fa;
  margin-left: 60%;
  align-self: end;
}
header .pagesNav ul {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  list-style-type: none;
  gap: 10em;
}
header .pagesNav ul li {
  font-family: Arial, Helvetica, sans-serif, cursive;
  letter-spacing: -2px;
  font-size: 22px;
}
header .pagesNav ul li a {
  color: #f9f8f9;
  text-decoration: none;
  cursor: none;
}
header .pagesNav ul li a:hover {
  cursor: none;
}
header .pagesNav ul li a .letter {
  /*text-shadow: 0.03em 0.03em 0.02em #f5f7fa;*/
  will-change: transform;
  display: inline-block;
  transition: transform 0.2s ease;
}
header .pagesNav ul li a .letter:hover {
  transform: scaleX(0.9) scaleY(1.3);
}

.letterPink {
  color: #de667e;
}

#containerCanvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

footer {
  height: 120px;
}
footer .social-media {
  color: #f5f7fa;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}
footer .info {
  color: #f5f7fa;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cursor {
  pointer-events: none;
}
.cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 5;
}
.cursor__ball circle {
  fill: #f5f7fa;
}

/* Popup window when clicked */
.img-window {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.img-window img {
  max-height: 100vh;
  max-width: 80vw;
  opacity: 1;
}

/* Buttons image */
.img-btn-next {
  display: block;
  padding: 6p 10px;
  border-radius: 4px;
  background-color: #111111;
  position: fixed;
  top: 48vh;
  z-index: 500;
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 50%;
  padding: 7px 10px;
}

.img-btn-next:hover {
  opacity: 0.8;
}

.img-btn-prev {
  display: block;
  padding: 6p 10px;
  border-radius: 4px;
  background-color: #111;
  position: fixed;
  top: 48vh;
  z-index: 500;
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 50%;
  padding: 7px 10px;
}

.img-btn-prev:hover {
  opacity: 0.8;
}

/* font-family: 'Chokokutai', cursive; */
/* font-family: 'Pacifico', cursive; */
::-webkit-scrollbar {
  width: 0.4em;
  height: 0;
  animation: barFadeIn 0.1s 1.1s forwards;
}

::-webkit-scrollbar-track {
  background: white;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: rgba(33, 46, 83, 0.768627451);
  border-radius: 100vw;
}

@keyframes barFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: #ad5389 white;
    scrollbar-width: auto;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #161616;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.fullscreen .homeTitle {
  text-align: center;
  margin-top: 25px;
  /*font-family: 'mijuregular', serif, Arial, Helvetica, sans-serif;*/
  font-size: 56px;
  color: #212E53;
}
.fullscreen .homeNav {
  /*margin-left: 40px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);*/
  margin-top: 14%;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .fullscreen .homeNav {
    margin-top: 46%;
  }
}
@media screen and (max-width: 767px) {
  .fullscreen .homeNav {
    margin-top: 24%;
  }
}
.fullscreen .homeNav__ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .fullscreen .homeNav__ul {
    display: flex;
    flex-direction: column;
  }
}
.fullscreen .homeNav__ul li {
  margin-top: 20px;
  font-size: 50px;
  font-family: "Pacifico", cursive;
  letter-spacing: 5px;
}
@media screen and (max-width: 767px) {
  .fullscreen .homeNav__ul li {
    font-size: 36px;
  }
}
.fullscreen .homeNav__ul li a {
  text-decoration: none;
  color: #212E53;
  transition: 0.3s;
}
.fullscreen .homeNav__ul li a:hover {
  cursor: pointer;
  color: #fff;
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

.fullscreen .video-background {
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  filter: blur(7px);
}
@media (min-aspect-ratio: 16/9) {
  .fullscreen .video-background .video-background {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .fullscreen .video-background .video-background {
    width: auto;
    height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
