@import "./utils/variables";
@import "./utils/mixins";

@import "./pages/ohayo";

@import url('https://fonts.googleapis.com/css2?family=Chokokutai&display=swap');
/* font-family: 'Chokokutai', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* font-family: 'Pacifico', cursive; */


//Responsive
$breakpoints: (
    mobile: 767px,
    tablet: 992px
);

@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin tablet-only {
    @media screen and (min-width: 768px) and (max-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

$redColor: rgba(244, 67, 54, 1);
$blueColor: rgba(33, 150, 243, 1);
$navColor: #212E53;

::-webkit-scrollbar {
    width: 0.4em;
    height: 0;
    animation: barFadeIn 0.1s 1.1s forwards;
}

::-webkit-scrollbar-track {
    background: white;
    margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
    background: #212e53c4;
    // border: 1px solid rgba(44, 77, 94, 0.9); rgba(57, 107, 132, 0.91)
    border-radius: 100vw;

}

@keyframes barFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@supports (scrollbar-color: red blue) {
    * {
        scrollbar-color: #ad5389 white;
        scrollbar-width: auto;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    //cursor: none;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;

    .homeTitle {
        text-align: center;
        margin-top: 25px;
        /*font-family: 'mijuregular', serif, Arial, Helvetica, sans-serif;*/
        font-size: 56px;
        color: #212E53; // #F9968B
    }

    .homeNav {
        //menu on the left and in the middleof the page
        /*margin-left: 40px;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);*/
        margin-top: 14%;

        @include tablet-only {
            margin-top: 46%;
        }

        @include mobile-only {
            margin-top: 24%;
        }

        &__ul {
            list-style-type: none;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            @include mobile-only {
                display: flex;
                flex-direction: column;
            }

            li {
                margin-top: 20px;
                font-size: 50px;
                font-family: 'Pacifico', cursive;
                letter-spacing: 5px;

                @include mobile-only {
                    font-size: 36px;
                }

                a {
                    text-decoration: none;
                    color: #212E53;
                    transition: 0.3s;

                    &:hover {
                        cursor: pointer;
                        color: #fff;
                        text-shadow: 0 0 5px #03e9f4,
                            0 0 25px #03e9f4,
                            0 0 50px #03e9f4,
                            0 0 100px #03e9f4;
                    }
                }
            }


        }

    }
}

//Social media icons
//     .social-media {
//         //icons on the bottom and on the left of the page
//         /*margin-left: 31px;
//         position: absolute;
//         top: 92%;
//         -ms-transform: translateY(-50%);
//         transform: translateY(-92%);
//         display: flex;*/

//         display: flex;
//         justify-content: center;
//         align-items: center;
//         margin-top: 14%;

//         @include tablet-only {
//             margin-top: 45%;
//         }

//         @include mobile-only {
//             margin-top: 33%;
//         }

//         i {
//             font-size: 42px;
//             //margin-left: 17px;
//             cursor: pointer;

//             @include mobile-only {
//                 font-size: 32px;
//             }

//             /*&.icon-3d {
//                 padding: 10px;
//                 -webkit-animation: icon3d 200ms 10;
//                 animation: icon3d 200ms 10;

//                 &:hover {
//                     -webkit-animation: icon3d 200ms infinite;
//                     animation: icon3d 200ms infinite;
//                 }
//             }*/

//             &.fa-facebook-f {
//                 margin-left: 50px;
//             }

//             &.fa-pinterest-p {
//                 margin-left: 50px;
//             }
//         }



//     }

// }

// @keyframes icon3d {
//     0% {
//         text-shadow: 5px 4px $redColor, -5px -6px $blueColor;
//     }

//     25% {
//         text-shadow: -5px -6px $redColor, 5px 4px $blueColor;
//     }

//     50% {
//         text-shadow: 5px -4px $redColor, -8px 4px $blueColor;
//     }

//     75% {
//         text-shadow: -8px -4px $redColor, -5px -4px $blueColor;
//     }

//     100% {
//         text-shadow: -5px 0 $redColor, 5px -4px $blueColor;
//     }
// }

.fullscreen .video-background {
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: blur(7px);


    @media (min-aspect-ratio: 16/9) {
        .video-background {
            width: 100%;
            height: auto;
        }
    }

    @media (max-aspect-ratio: 16/9) {
        .video-background {
            width: auto;
            height: 100%;
        }
    }
}


//Osaka Page



// .bd-image {
//     position: fixed;
//     background-image: url('/images/sunrise.jpg');
//     //filter: blur(15px);
//     opacity: 65%;
//     -webkit-filter: blur(8px);
//     height: 100%;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }