@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
/* font-family: 'Amatic SC', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
/* font-family: 'Dela Gothic One', sans-serif; non utilisé*/

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
/* font-family: 'M PLUS Rounded 1c', sans-serif; */




// Preload animation
.loader-span {
    overflow: hidden;
    display: block;
}

.loader-wrap {
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background: transparent;
    z-index: 45;
}

.loader-wrap svg {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 110vh;
}

.loader-wrap svg>path {
    fill: #f7e7cf;
}

.loader-wrap .loader-wrap-heading h1 {
    font-size: 40px;
    z-index: 50;
    color: #000000;
    text-transform: uppercase;
    font-weight: lighter;
    font-family: "Ogg";
}

// Body
#ohayo-body {
    overflow-x: hidden;
    color: #f7e7cf;
    cursor: none;
}

// Header
header {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #000000;
    border-bottom: 1px solid #f7e7cf;
    z-index: 40;

    & #header-container {
        display: grid;
        grid-template-columns: 10% 30% 30% 30%;
        // align-items: flex-end;
        // column-gap: 50px;

        //padding: 15px 0;

        @include tablet-only {
            grid-template-columns: 40% 60%;
        }

        @include mobile-only {
            grid-template-columns: 40% 60%;
        }
    }
}

#headerTitle {
    font-family: 'Amatic SC', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    border-right: 1px solid #f7e7cf;
    //height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & span {
        margin-right: 1.5%;
    }

    @include tablet-only {
        border-right: 0;
        justify-content: flex-start;
        padding-left: 20%;
    }

    @include mobile-only {
        border-right: 0;
        justify-content: flex-start;
        padding-left: 20%;
    }

}

#dateTime {
    color: $textColor;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 27%;

    @include tablet-only {
        height: 90px;
        font-size: 12px;
        align-items: center;
        padding-left: 34%;
        padding-bottom: 0%;
        padding-top: 5%;
    }

    @include mobile-only {
        height: 40px;
        font-size: 8px;
        align-items: center;
        padding-left: 0%;
        padding-bottom: 0%;
        padding-top: 16%;
    }

}

#japanese {
    font-size: 10px;
    display: flex;
    align-items: center;
    padding-left: 15%;
    //justify-content: center;

    @include tablet-only {
        font-size: 7.5px;
        justify-content: flex-end;
        padding-left: 0%;
        padding-bottom: 4%;
        margin: 2%;
    }

    @include mobile-only {
        font-size: 5px;
    }
}

#headerNav {
    padding-bottom: 7%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-left: 15%;
    //padding-right: 20%;

    @include tablet-only {
        height: 90px;
        font-size: 15px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0%;
        padding-top: 1.5%;

        a {
            & .navText {
                display: none;
            }

            & .icon {
                display: block;
                margin-top: -74%;
            }
        }
    }

    @include mobile-only {
        height: 40px;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0%;
        padding-top: 14.5%;

        a {
            & .navText {
                display: none;
            }

            & .icon {
                display: block;
                margin-top: -91%;
            }
        }
    }

    a {
        text-decoration: none;

        & .navText {

            color: $textColor;
            cursor: none;
        }
    }

    & .icon {
        display: none;
    }
}

// Menu for Small Screen
.toggle-btn {

    @include tablet-only {
        background: none;
        cursor: pointer;
        padding: 4px;
        width: 52px;
        height: 52px;
        border-radius: 200px;
        border: 2px solid #f7e7cf;
        margin-left: 73%;
    }

    @include mobile-only {
        background: none;
        cursor: pointer;
        padding: 5px;
        width: 27px;
        height: 27px;
        border-radius: 200px;
        border: 1px solid #f7e7cf;
        margin-left: 75%;
        margin-top: 4.6%;
    }

}

.hamburger {

    @include mobile-only {
        width: 15px;
        height: 15px;
    }

}


.hamburger path {

    @include tablet-only {
        fill: none;
        stroke: $textColor;
        stroke-linecap: round;
    }

    @include mobile-only {
        fill: none;
        stroke: $textColor;
        stroke-linecap: round;
    }

}

#navContainer {

    @include tablet-only {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100vh;
        display: none;
        z-index: 39;

        nav {
            position: relative;
            //z-index: 40;
            left: 10%;

            ul {
                list-style: none;

                li {
                    overflow: hidden;
                    transition: transform 300ms ease-in-out 0s;

                    &:active {
                        transform: translateX(50px);
                    }

                    a {
                        font-size: 75px;
                        text-decoration: none;
                        display: inline-block;
                        line-height: 1.3;
                        color: $textColor;
                    }
                }
            }
        }

        & .contact-container {
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;

            padding: 40px 31px;
            //z-index: 40;

            & .contactInfos {
                list-style: none;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 100%;
                //font-size: 16px;


                li {
                    font-size: 28px;
                    color: $textColor;
                    margin-left: 60px;
                    color: $textColor;

                    a {
                        text-decoration: none;
                        color: $textColor;
                    }
                }

            }

        }

    }

    @include mobile-only {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 25%;
        height: 100vh;
        display: none;
        z-index: 39;

        nav {
            position: relative;
            //z-index: 40;
            left: 10%;

            ul {
                list-style: none;

                li {
                    overflow: hidden;
                    transition: transform 300ms ease-in-out 0s;

                    &:active {
                        transform: translateX(50px);
                    }

                    a {
                        font-size: 37px;
                        text-decoration: none;
                        display: inline-block;
                        line-height: 2.5;
                        color: $textColor;
                    }
                }
            }
        }

        & .contact-container {
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;

            padding: 40px 18px;
            //z-index: 40;

            & .contactInfos {
                list-style: none;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 100%;
                //font-size: 16px;


                li {
                    font-size: 14px;
                    margin-left: 27px;
                    color: $textColor;

                    a {
                        text-decoration: none;
                        color: $textColor;
                    }
                }

            }

        }

    }

}

#navContainer nav li+li {

    @include tablet-only {
        margin-top: 100px;
    }

}

// .contactInfos li {

//     @include tablet-only {
//         margin-left: 60px;
//         color: $textColor;
//     }

//     @include mobile-only {
//         margin-left: 27px;
//         color: $textColor;
//     }

// }

.container-inner {

    @include tablet-only {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 100px 29px;

    }

    @include mobile-only {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 70px 30px;

    }

}

.nav-bg {

    @include tablet-only {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
    }

    @include mobile-only {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
    }
}

.nav-bg span {

    @include tablet-only {
        display: block;
        height: 36%;
        width: 100%;
        background: #000000;
        opacity: 0.995;
    }

    @include mobile-only {
        display: block;
        height: 36%;
        width: 100%;
        background: #000000;
        opacity: 0.995;
    }

}

.letterPink {
    color: #de667e;
}

// Section 'hero'
canvas {
    position: absolute;
    // top: 0;
    // left: 0;
    z-index: -2;
}

@-moz-keyframes mouse-wheel {
    0% {
        top: 1px;
    }

    25% {
        top: 2px;
    }

    50% {
        top: 3px;
    }

    75% {
        top: 2px;
    }

    100% {
        top: 1px;
    }
}

@-o-keyframes mouse-wheel {

    0% {
        top: 1px;
    }

    25% {
        top: 2px;
    }

    50% {
        top: 3px;
    }

    75% {
        top: 2px;
    }

    100% {
        top: 1px;
    }
}

@keyframes mouse-wheel {

    0% {
        top: 1px;
    }

    25% {
        top: 2px;
    }

    50% {
        top: 3px;
    }

    75% {
        top: 2px;
    }

    100% {
        top: 1px;
    }
}

@-webkit-keyframes mouse-scroll {

    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes mouse-scroll {

    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes mouse-scroll {

    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes mouse-scroll {

    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes mouse-wheel {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}


.hero {
    height: 100vh;
    min-height: 30em;
    //color: #f5f7fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    & .main {
        position: relative;
        left: 0;
        top: 5%;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .ul {
            height: 35%;
            width: 60%;

            font-family: 'Amatic SC', sans-serif;
            //font-family: Arial, Helvetica, sans-serif, cursive;
            //letter-spacing: 5px;
            text-transform: uppercase;
            font-size: 65px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 2%;
            margin-top: 2.1%;

            @include tablet-only {
                flex-direction: column;
                height: 52%;
            }

            @include mobile-only {
                flex-direction: column;
                font-size: 40px;
            }

            a {
                color: #f7e7cf;
                text-decoration: none;
                cursor: none;

                &:hover {
                    cursor: none;
                }

                // .letter {
                //     /*text-shadow: 0.03em 0.03em 0.02em #f5f7fa;*/
                //     will-change: transform;
                //     display: inline-block;
                //     transition: transform 0.2s ease;

                //     &:hover {
                //         transform: scaleX(0.9) scaleY(1.3);
                //     }
                // }
            }

            & .li {
                position: relative;
                //border-bottom: 1px solid rgba(255, 253, 253, 0.896);
                cursor: pointer;
                transition: 1s;
                //font-size: 20px;
                //color: burlywood;

                &:hover {
                    opacity: 1 !important;
                }
            }
        }

    }

    & .mouse_scroll {
        display: block;
        margin: 0 auto;
        width: 24px;
        height: 100px;
        position: relative;
        bottom: 2%;
        //margin-top: 125px;
    }


    & .m_scroll_arrows {
        display: block;
        width: 5px;
        height: 5px;
        -ms-transform: rotate(45deg);
        /* IE 9 */
        -webkit-transform: rotate(45deg);
        /* Chrome, Safari, Opera */
        transform: rotate(45deg);

        border-right: 2px solid white;
        border-bottom: 2px solid white;
        margin: 0 0 3px 4px;

        width: 16px;
        height: 16px;
    }

    & .unu {
        margin-top: 1px;
    }

    & .unu,
    .doi,
    .trei {
        -webkit-animation: mouse-scroll 1s infinite;
        -moz-animation: mouse-scroll 1s infinite;
        animation: mouse-scroll 1s infinite;

    }

    & .unu {
        -webkit-animation-delay: .1s;
        -moz-animation-delay: .1s;
        -webkit-animation-direction: alternate;

        animation-direction: alternate;
        animation-delay: alternate;
    }

    & .doi {
        -webkit-animation-delay: .2s;
        -moz-animation-delay: .2s;
        -webkit-animation-direction: alternate;

        animation-delay: .2s;
        animation-direction: alternate;

        margin-top: -6px;
    }

    & .trei {
        -webkit-animation-delay: .3s;
        -moz-animation-delay: .3s;
        -webkit-animation-direction: alternate;

        animation-delay: .3s;
        animation-direction: alternate;


        margin-top: -6px;
    }

    & .mouse {
        height: 42px;
        width: 24px;
        border-radius: 14px;
        transform: none;
        border: 2px solid white;
        top: 170px;
    }

    & .wheel {
        height: 5px;
        width: 2px;
        display: block;
        margin: 5px auto;
        background: white;
        position: relative;

        height: 4px;
        width: 4px;
        border: 2px solid #fff;
        -webkit-border-radius: 8px;
        border-radius: 8px;
    }

    & .wheel {
        -webkit-animation: mouse-wheel 0.6s linear infinite;
        -moz-animation: mouse-wheel 0.6s linear infinite;
        animation: mouse-wheel 0.6s linear infinite;
    }

    // & .explore {
    //     position: absolute;
    //     top: 84%;
    //     left: 36.9%;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-evenly;
    //     align-items: center;


    //     &__title {
    //         max-width: 650px;
    //         font-size: 1.1em;
    //         line-height: 34px;
    //         margin-bottom: 2%;
    //         color: #f5f7fa;
    //     }

    //     & .line {
    //         margin-left: 80%;
    //         margin-bottom: 1%;
    //     }

    //     & a {
    //         color: #f5f7fa;
    //         cursor: none;
    //     }
    // }
}


// .plusIcon {
//     font-size: smaller;
//     color: #f5f7fa;

//     &:hover {
//         cursor: none;

//         &::before {
//             content: "\f063";
//             color: #f5f7fa;
//         }

//     }
// }


.wrapper {
    width: 100vw;
}

// slider 1
#sliderOne {
    width: 100vw;
    height: 100vh;

}

.gallery {
    height: 100%;
    //min-height: 30em;
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    /*width: 100%;*/
}

.gallery .item {
    //display: flex;
    margin-top: 2%;
    width: 713px;
    /*min-width: 25em;
    max-width: 47em;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    height: 65vh;
    position: relative;

    @include tablet-only {
        width: 775px;
        height: 68vh;
        margin-top: 1.5%;
    }
}

.gallery h2 {
    //color: #f5f7fa;
    font-family: 'Amatic SC', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    width: 100px;
    padding: 1.5% 0;
    text-align: right;

    @include tablet-only {
        font-size: 26px;
        margin-right: 2.6%;
    }
}

.gallery img {
    width: 72%;
    min-width: 25em;
    max-width: 47em;
    height: 86%;
    object-fit: cover;
    //padding: 1em 0;
    opacity: 1;
    border-radius: 5px;
    //filter: drop-shadow(0 0 0.25rem #f7e7cf);

    @include tablet-only {
        width: 91%;
    }
}

//Slider 2

#sliderTwo {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

// .sliderWidth {
//     width: 5000px;
//     height: 100vh;
// }

.galleryTwo {
    height: 100vh;
    width: 5000px;
    //min-height: 30em;
    //width: fit-content;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 0.2%;
    //position: relative;

    @include tablet-only {
        width: 2400px;
    }
}

.galleryTwo .item {
    margin-top: 1.2%;
    height: 72vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    //justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
}

.galleryTwo h2 {
    //color: #f5f7fa;
    font-family: 'Amatic SC', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    width: 100px;
    padding: 1% 0;
    text-align: right;

    @include tablet-only {
        font-size: 24px;
        margin-right: 2.5%;
    }

}

.item3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.item3:hover img {
    transform: scale(1.3);
}

.galleryTwo img {
    width: 100%;
    //min-width: 20em;
    height: 100%;
    object-fit: cover;
    //transition: all linear 0.7s;
    transition: 0.7s;
    -webkit-background-size: cover;
    background-size: cover;
    //display: none;
}


// Slider 3

.canvas2 {
    //position: fixed;
    z-index: -1;
    pointer-events: none;
}

#sliderThree {
    //position: relative;
    width: 100vw;
    height: 100vh;
}

.galleryThree {
    height: 100%;
    //min-height: 30em;
    width: 100%;
    display: flex;
    //flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;

    @include tablet-only {
        flex-direction: column;
        justify-content: center;
        gap: 5%;
    }
}

// .galleryThree .item {
//     //display: flex;
//     margin-top: 1%;
// }

.galleryThree .item img {
    display: none;
}

.galleryThree h2 {
    //color: #f5f7fa;
    font-family: 'Amatic SC', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    //padding-top: 6%;
    // position: relative;
    // left: 75%;
    // width: 70px;

    @include tablet-only {
        font-size: 45px;
    }
}

// .galleryThree img {
//     width: 25vw;
//     min-width: 15em;
//     max-width: 30em;
//     height: 85vh;
//     object-fit: cover;
//     padding: 1em 0;
// }

.project-image {
    opacity: 0%;
    position: absolute;
    top: -100%;
    pointer-events: none;
    user-select: none;
}

.modal {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    z-index: 45;
    transition: 0.25s ease-out;

    & .full-img {
        position: absolute;
        height: 82%;
        top: 5%;
        left: 22.5%;
        transform: scale(0);
        transition: all 0.25s ease-out;

        @include tablet-only {
            top: 7%;
            left: 1.5%;
            width: 97%;
        }

    }

    & .full-img.open {
        transform: scale(1);

    }

    & p {
        //color: #f5f7fa;
        font-size: 2rem;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, -5%);
    }
}

.modal.open {
    opacity: 1;
    pointer-events: all;
}


footer {
    height: 120px;

    // .social-media {
    //     color: #f5f7fa;
    //     font-size: 30px;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     gap: 30px;
    //     margin-bottom: 20px;
    // }

    .info {
        color: #f5f7fa;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}

.cursor {
    pointer-events: none;

    &__ball {
        position: fixed;
        top: 0;
        left: 0;
        mix-blend-mode: difference;
        z-index: 50;

        & circle {
            fill: #f5f7fa;
        }
    }
}

/* Popup window when clicked */
.img-window {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.img-window img {
    max-height: 80%;
    max-width: 80vw;
    opacity: 1;

}

.img-window p {
    //color: #f5f7fa;
    font-size: 1.5rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
}


/* Buttons image */
.img-btn-next {
    font-size: 25px;
    display: block;
    background-color: #111111;
    position: fixed;
    top: 48vh;
    z-index: 60;
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 50%;
    padding: 8px 15px;
}

.img-btn-next:hover {
    //opacity: 0.8;
    color: rgb(166, 181, 31);
    border: 1px solid rgb(166, 181, 31);
}

.img-btn-prev {
    font-size: 25px;
    display: block;
    background-color: #111111;
    position: fixed;
    top: 48vh;
    z-index: 60;
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 50%;
    padding: 8px 15px;
}

.img-btn-prev:hover {
    //opacity: 0.8;
    color: rgb(166, 181, 31);
    border: 1px solid rgb(166, 181, 31);
}



// Section between each slider

@keyframes infiniteScroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(0px - 30%));
    }
}

@keyframes infiniteScrollTwo {
    from {
        transform: translateX(calc(0px - 50%));
    }

    to {
        transform: translateX(0);
    }
}

.separation {
    //background-color: rgba(247, 231, 207, 0.6);
    width: 100vw;
    height: 10vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    //align-items: center;
    margin-top: 6%;
    border-top: #f7e7cf 1px solid;
    border-bottom: #f7e7cf 1px solid;
}

.separationTwo {
    margin-top: 8%;
}

.text {
    //white-space: nowrap;
    font-size: 35px;
    color: #f7e7cf;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    display: flex;

    &__item {
        white-space: nowrap;
        //text-shadow: $textColor 1px 0 10px;

        & span:hover {
            //-webkit-text-stroke: 1px white;
            color: white;
            text-shadow: none;
        }
    }
}

.rightToLeft {
    animation-name: infiniteScroll;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    &:hover {
        animation-play-state: paused;
    }
}