@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
/* font-family: 'Amatic SC', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
/* font-family: 'Dela Gothic One', sans-serif; non utilisé*/

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
/* font-family: 'M PLUS Rounded 1c', sans-serif; */

//Test police
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
/* font-family: 'Lemon', serif; */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');
/* font-family: 'Roboto Flex', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap'); //pour légende image
/*font-family: 'Cutive Mono', monospace;*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap'); // pour logo
/* font-family: 'Ubuntu', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap'); // pour séparation
/* font-family: 'Aoboshi One', serif; */

@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');
/* font-family: 'Stick', sans-serif; */


// Preload animation
.loader-span {
    overflow: hidden;
    display: block;
}

.loader-wrap {
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background: transparent;
    z-index: 45;
}

.loader-wrap svg {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 110vh;
}

.loader-wrap svg>path {
    fill: #f7e7cf;
}

.loader-wrap .loader-wrap-heading h1 {
    font-size: 30px;
    z-index: 50;
    color: #000000;
    text-transform: uppercase;
    font-weight: lighter;
    font-family: "Ogg";
}

.ohayoSliderOne-title {
    //color: #f5f7fa;
    font-family: 'Cutive Mono', monospace; //'Amatic SC', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    width: 100px;
    padding: 1% 0;
    text-align: right;
    margin-right: 64px;

    @include tablet-only {
        font-size: 26px;
        margin-right: 17.9%;
        padding: 1% 0;
    }

    @include mobile-only {
        font-size: 16px;
        margin-right: 11%;
        padding: 1.2% 0;
    }
}

.ohayoSliderTwo-title {
    font-family: 'Cutive Mono', monospace;
    font-size: 18px;
    text-transform: uppercase;
    width: 100px;
    padding: 1% 0;
    margin-right: 5.9%;

    @include tablet-only {
        font-size: 24px;
        padding: 1.5% 0;
        margin-right: 24%;
    }

    @include mobile-only {
        font-size: 11px;
        margin-right: 0.5%;
        padding: 2% 0;
    }

}