@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
/* font-family: 'Potta One', cursive; */

$navColor: #212E53;


.osaka-body {
    /*background-color: black;*/
    overscroll-behavior: none;
    width: 100vw;
    cursor: none;
}

.loader-span {
    overflow: hidden;
    display: block;
}

.loader-wrap {
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.loader-wrap svg {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 110vh;
}

.loader-wrap .loader-wrap-heading h1 {
    font-size: 120px;
    z-index: 20;
    color: #e0e0e0;
    text-transform: uppercase;
    font-weight: lighter;
    font-family: "Ogg";
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .osakaTitle {
        font-family: 'Potta One', cursive;
        font-size: 62px;
        //text-align: center;
        //padding-top: 30px;
        margin-left: 47%;
        background-image: url('/images/pexels-ryutaro-tsukata-5220061.jpg');
        background-size: cover;
        background-position: center;
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-stroke: 1px lavenderblush;
    }
}

main {
    position: fixed;
    top: 11.1%;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.slider {
    position: absolute;
    top: 1%;
    //left: 15%;
    width: 5000px;
    height: 100%;
    will-change: transform;
}

.slider-inner {
    position: absolute;
    top: 0;
    height: 77%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.item {
    position: relative;
    width: 800px;
    height: 100%;
    overflow: hidden;
}

img {
    position: absolute;
    // left: -100px;
    width: 100%;
    height: 100%;
    // background-size: cover;
    // background-position: center;
    /*filter: grayscale(100%);*/
    visibility: hidden;
}

canvas {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    margin-bottom: 15px;

    .pagesNav {

        ul {
            display: flex;
            justify-content: space-evenly;
            list-style-type: none;

            li {
                font-family: 'Pacifico', cursive;
                letter-spacing: -1px;
                font-size: 36px;

                a {
                    color: $navColor;
                    text-decoration: none;

                    &:hover {
                        cursor: pointer;
                    }

                    .letter {
                        text-shadow: 0.03em 0.03em 0.02em #777;
                        will-change: transform;
                        display: inline-block;
                        transition: transform 0.2s ease;

                        &:hover {
                            transform: scaleX(0.9) scaleY(1.3);
                        }
                    }
                }
            }
        }

    }
}

.cursor {
    pointer-events: none;

    &__ball {
        position: fixed;
        top: 0;
        left: 0;
        mix-blend-mode: difference;
        z-index: 10000;

        & circle {
            fill: #ad5389;
        }
    }
}